@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

*{
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

/*@font-face {
  font-family: "burtons";
  src: url("../public/Burtons.otf");
}*/


.font-manrope {
  font-family: "Manrope", sans-serif;
}

.text-customText {
  color: #19417F; 
}